<%- include('partials/header') -%>
  <div class="container">
    <div class="justify-content-center mt-5">
      <h1 class="project-heading mb-5"><%= organization.organizationName %>: ongoing projects</h1>

        <% if (projects.length === 0) { %>
          <h2 class="project-heading">No Projects can be found for your company in the database!</h2>
        <% }  %>
        <ul class="grid-container m-5">
        <% for(var i=0; i<projects.length; i++) {%>
          <li class="grid-item">
            <a href="/project/<%=organization._id%>/<%= projects[i]._id%>">
              <h4><%= projects[i].projectName%></h4>
            </a>
          </li>
        <% } %>
        </ul>
        
    </div>
    <div class="row justify-content-center">
      <a class="btn btn-primary" href="/organization/<%= organizationId %>">Organization Profile</a>
    </div>  
  </div>  
<%- include('partials/footer') -%>