<%- include('partials/header') -%>
<div class="container">
  
  <div class="col-12">
    <span class="userName">Logged in as: <b><%=user.firstName%> <%=user.lastName%></b></span>
  </div>

  <div class="row"> <!-- Add this row wrapper -->


    <div class="col-6">
      <div class="mt-5">
        <h3 class="project-heading">Add a project</h2>
        <form action="/project/createProject" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="projectName" class="form-label">Project Name</label>
            <input type="text" class="form-control" id="projectName" name="projectName">
          </div>
          <div class="mb-3">
            <label for="projectNumber" class="form-label">Project Number</label>
            <input type="text" class="form-control" id="projectNumber" name="projectNumber">
          </div>
          <div class="mb-3">
            <label for="projectDescription" class="form-label">Project Description</label>
            <textarea class="form-control" id="projectDescription" name="projectDescription"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
      
      <div class="row justify-content-center mt-5">
        <a href="/template/createTemplatePage" class="m-3 btn btn-primary">Template Creation Page</a>
      </div>  
      <div>
        <a href="/logout" class="col-3 btn btn-primary mt-10">Logout</a>
        <a href="/how-to-instructional" class="col-3 btn btn-primary mt-10">Need Help?</a>

      </div>
    </div>  

    <div class="col-4">
      <h3 class="project-heading">Projects you have created</h2>
      <ul class="flex-grid">
        <% for(var i=0; i<projects.length; i++) {%>
          <li class="p-2 document-item">
            <a class="template-heading" href="/project/<%= projects[i]._id%>">
              <h4><%= projects[i].projectName%></h4>
            </a>
          </li>
        <% } %>
        
      </ul>
        <a class="btn btn-primary" href="/feed">See all of <%= user.company %> projects.</a>
      <div>
        <h3 class="project-heading">Employee Directory</h3>
        <ul class="flex-grid">
          <% for(var i=0; i<coworkers.length; i++) {%>
            <li class="p-2 document-item">
                <h4><%= coworkers[i].firstName %> <%= coworkers[i].lastName %></h4>
                <h4>Contact: <%= coworkers[i].phoneNumber%>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>  

  </div> <!-- Close the row here -->
</div>

<%- include('partials/footer') -%>
