<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= project.projectName %></h2>


    </div>
    <div class="col-3 mt-5">
      <h3>Created By:</h3>
      <%=project.createdBy%>
      <p><br></p>
      
      <h3>Project Number:</h3>
      <%=project.projectNumber%>
      <p><br></p>
      
      <h3>Project Description:</h3>
      <%=project.projectDescription%>
      <p><br></p>

      <h3>Assigned Employees:</h3><br>
      <ul>
        <% for (var i=0; i<employees.length; i++){%>
          <li class ="col-6 justify-content-between mt-5"> 
              <span>Uploaded By:  <%= employees[i]%></span>
              <br>
        </li>
      <% } %>    
      </ul>
      <div class="mt-5">
        <form action="/project/addEmployees/<%=project._id%>" method="POST">
          <div class="mb-3">
              <label for="comment" class="form-label">Assign An Employee</label>
              <input type="text" class="form-control" id="assignedEmployee" name="assignedEmployee">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div> 


    

      <div class="container">
        <h>Create a New Work Location</h3>
        <form id="newWorkLocationForm" action="/template/createNewWorkLocation/<%=project._id%>" method="POST">
          <div class="form-group">
            <label for="templateSelect">Select Template:</label>
            <select class="form-control" id="templateSelect" name="selectedTemplate" required>
              
                <% templates.forEach(template => { %>
                  <% if(template.isOriginal===true){ %>
                  <option value="<%= template._id %>"><%= template.templateName %></option>
                  <% } %>
                <% }) %>
              
            </select>
          </div>
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" name="location" required>
          </div>
          <button type="submit" class="btn btn-primary">Create Work Location</button>
        </form>
      </div>
      

    <h3>Document Section</h3>
    
    <%#You can submit all of your documents here%>
    <ul>
      <form action="/document/createDocument/<%=project._id%>" enctype="multipart/form-data" method="POST">
        <div class ="mb-3">
          <label for="fileName" class = "form-label">Document Name</label>
          <input type = "text" class="form-control" id="fileName" name="fileName">
        </div>
        <div class ="mb-3">
          <label for="description" class="form-label">Document Description</label>
          <input type="text" class="form-control" id="Description" name="description">
        </div>
        <div class ="mb-3">
          <label for="fileUpload" class="form-label">Document File</label>
          <input type="file" class="form-control" id="documentUpload" name="file">
        </div>
          <button type="submit" class ="btn btn-primary">Submit Document</button>
      </form>
    </ul>

      <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <ul>
              <% for (var i=0; i<documents.length; i++){%>
                <li class ="col-6 justify-content-between mt-5"> 
                  <a href="<%=documents[i].image%>" download><%=documents[i].fileName%></a>
                    <form action="/document/deleteDocument/<%=project._id%>/<%=documents[i]._id %>?_method=DELETE" method="POST">
                    <span>Uploaded By:  <%=  documents[i].uploadedBy%></span>
                    <br>
                      <button type="submit" class="btn btn-outline-danger">Delete Document</button>
                    </form>
              </li>
            <% } %>    
            </ul>
        </div>
      </div>

      <div class="row justify-content-center">
        <h3> Checklists </h3>
        <div class="col-6 mt-5">
          <% templates.forEach(object => { %>
            <% if(object.isOriginal===false && object){ %>

            <details>
            <summary>
              <h4 class="templateHeading">Location:<%= object.location%></h4>
              <h5 class="templateHeading"><%= object.templateName %></h5>
            </summary>
            <ul>
                <% object.tasks.forEach(task => { %>
                    <li class="templateTask">
                        <%= task.taskDetail[0] %>
                    </li>
                    <li class="signatureBox">
                      <form action ="/template/signTask/<%=project._id%>/<%=templates[i]._id%>/" method = "POST">
                        <a  class="btn btn-primary" type="submit">Signature Here</a>
                        <%= task.signature[0] %>
                      </form>
                        <%=task.signature.dateCompleted %>
                    </li>
                    <% }) %>
                  </details>
                  <form action ="/template/deleteWorkLocation/<%=project._id%>/<%=object._id %>?_method=DELETE" method = "POST">
                    <button  class="btn btn-secondary" type="submit">Delete this Work Location</button>
                  </form>
                <% }else { %>
                <%}%>
            </ul>
            
        <% }) %>
        </div>
      </div>

  
    <div class="col-6 mt-5">
        <div>
          <form action ="/project/deleteProject/<%=project._id%>?_method=DELETE" method = "POST">
            <button  class="btn btn-primary" type="submit">Delete this Project</button>
          </form>
        </div>
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to <%= user.company %> projects.</a>
    </div>
    
  </div>
</div>

<%- include('partials/footer') -%>