<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= project.projectName %></h2>


    </div>
    <div class="col-3 mt-5">
      <h3>Created By:</h3>
      <%=project.createdBy%>
      <p><br></p>
      
      <h3>Project Number:</h3>
      <%=project.projectNumber%>
      <p><br></p>
      
      <h3>Project Description:</h3>
      <%=project.projectDescription%>
      <p><br></p>

      <h3>Assigned Employees:</h3><br>
      <ul>
        <% for (var i=0; i<employees.length; i++){%>
          <li class ="col-6 justify-content-between mt-5"> 
              <span>Uploaded By:  <%= employees[i]%></span>
              <br>
        </li>
      <% } %>    
      </ul>
 
      <div class="mt-5">
        <form action="/project/addEmployees/<%=project._id%>" method="POST">
          <div class="mb-3">
              <label for="comment" class="form-label">Assign An Employee</label>
              <input type="text" class="form-control" id="assignedEmployee" name="assignedEmployee">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div> 


    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <ul>
              <% for (var i=0; i<documents.length; i++){%>
                <li class ="col-6 justify-content-between mt-5"> 
                  <a href="<%=documents[i].image%>" download><%=documents[i].fileName%><a>
                    <form action="/document/deleteDocument/<%=project._id%>/<%=documents[i]._id %>?_method=DELETE" method="POST">
                    <span>Uploaded By:  <%=  documents[i].uploadedBy%></span>
                    <br>
                      <button type="submit" class="btn btn-outline-danger">Delete Document</button>
                    </form>
              </li>
            <% } %>    
            </ul>
            
        </div>
        
        
      </div>

    <h3>Document Section</h3>
    
    <%#You can submit all of your documents here%>
    <ul>
      <form action="/document/createDocument/<%=project._id%>" enctype="multipart/form-data" method="POST">
        <div class ="mb-3">
          <label for="fileName" class = "form-label">Document Name</label>
          <input type = "text" class="form-control" id="fileName" name="fileName">
        </div>
        <div class ="mb-3">
          <label for="description" class="form-label">Document Description</label>
          <input type="text" class="form-control" id="Description" name="description">
        </div>
        <div class ="mb-3">
          <label for="fileUpload" class="form-label">Document File</label>
          <input type="file" class="form-control" id="documentUpload" name="file">
        </div>
          <button type="submit" class ="btn btn-primary">Submit Document</button>
      </form>
    </ul>

      <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <ul>
              <% for (var i=0; i<documents.length; i++){%>
                <li class ="col-6 justify-content-between mt-5"> 
                  <a href="<%=documents[i].image%>" download><%=documents[i].fileName%><a>
                    <form action="/document/deleteDocument/<%=project._id%>/<%=documents[i]._id %>?_method=DELETE" method="POST">
                    <span>Uploaded By:  <%=  documents[i].uploadedBy%></span>
                    <br>
                      <button type="submit" class="btn btn-outline-danger">Delete Document</button>
                    </form>
              </li>
            <% } %>    
            </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <h3> Generate Checklist From Template </h3>
        <div class="col-6 mt-5">
            <ul>
              <% for (var i=0; i<taskSheet.length; i++){%>
                <li class ="col-6 justify-content-between mt-5"> 
                    <form action="/task/populateTaskSheet/<%=project._id%>/<%=taskSheet[i]._id %>?_method=POST" method="POST">
                    </form>
              </li>
            <% } %>    
            </ul>
        </div>
      </div>

      <div class="row justify-content-center">
        <h3> Checklists </h3>
        <div class="col-6 mt-5">
            <ul>
              <% for (var i=0; i<taskSheet.length; i++){%>
                <li class ="col-6 justify-content-between mt-5"> 
                    <form action="/task/taskSheet/<%=project._id%>/<%=taskSheet[i]._id %>?_method=DELETE" method="POST">
                    <span>Uploaded By:  <%=  taskSheet[i].tasks%></span>
                    <br>
                      <button type="submit" class="btn btn-outline-danger">Delete <%=  taskSheet[i]%> Checklist?</button>
                    </form>
              </li>
            <% } %>    
            </ul>
        </div>
      </div>

  
    <div class="col-6 mt-5">
        <div>
          <form action ="/project/deleteProject/<%=project._id%>?_method=DELETE" method = "POST">
            <button  class="btn btn-primary" type="submit">Delete this Project</button>
          </form>
        </div>
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to <%= user.company %> projects.</a>
    </div>
    
  </div>
</div>

<%- include('partials/footer') -%>